.postContainer {
  display: flex;
  flex-direction: column;

  width: 348px;
  height: 450px;

  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  .infoContainer {
    padding: 2rem 1.5rem 0 1.5rem;

    h3 {
      font-size: 1.5em;
      color: var(--text);
      padding-right: 3.5rem;
      margin-bottom: 1.5rem;
      line-height: 1.5em;
    }
  
    .avatarContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      img {
        height: 52px;
        width: 52px;
        border-radius: 50%;
      }
  
      h5 {
        font-size: 1rem;
        color: var(--gray-text);
        margin-left: 9px;
      }
    }
  }
}