.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 41.5625rem;
  padding: 0 8.5625rem 0;

  background: url('/illustration.svg') no-repeat top right;
  background-size: contain;

  .headline {
    display: flex;
    flex-direction: column;

    font-size: 3rem;
    color: var(--text);

    span:nth-child(2) {
      margin: 15.5px 0;
    }

    form {
      display: flex;
      flex-direction: row;

      margin-top: 3rem;

      input {
        width: 21.5rem;
        color: var(--text);
        border: 1.5px solid #2D3561;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-right: 1rem;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 3.25rem;
        width: 3.25rem;
        border: 0;
        border-radius: 0.5rem;
        background-color: var(--green-700);

        > div {
          margin: 0;
          height: 1.5rem;
          width: 1.5rem;
          background-color: var(--white);
        }
      }
    }
  }
}

@media (max-width: 920px)
{
  .sectionContainer {
    align-items: center;
    justify-content: center;
    background: none;
    padding: 0;

    .headline form input {
      width: 80%;
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 720px)
{
  .sectionContainer {
    height: 30.5rem;
  }
}